/* 
colors
bg : #ADE7FE
jumbo: #F4F6FE
navlinks: #ACB0B4
h1 color: #FED1AE


*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.nav-item {
    float: right;
}

.main {
    background: #ade7fe;
    width: 85%;
    height: 570px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-top: 7em;
    padding-bottom: 7em;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.head {
    background: #f4f6fe;
    width: 95%;
    height: 400px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 6em; */
}

.content {
    width: 70%;
    margin: 2em;
    padding: 2em;
}

.content h1 {
    color: #fed1ae;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.searchBtn {
    margin-left: 0.8em;
    background: #ade7fe;
    color: white;
}
.image {
    width: 100%;
}
.image img {
    width: 100%;
}
.emp {
    color: #ade7fe;
    font-weight: bold;
}
.logo {
    width: 50px;
    height: 25px;
}
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}
