/* 
colors
bg : #ADE7FE
jumbo: #F4F6FE
navlinks: #ACB0B4
h1 color: #FED1AE


*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.nav {
    justify-content: center;
}
.nav a {
    color: #acb0b4;
}

a:hover {
    background: #ade7fe;
    color: #fed1ae;
}
.nav-link:active {
    background: #ade7fe;
    color: #fed1ae;
}

.main {
    background: #ade7fe;
    width: 85%;
    height: 570px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-top: 6em;
    padding-bottom: 6em;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.head {
    background: #f4f6fe;
    width: 95%;
    height: 400px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 70%;
    margin: 2em;
    padding: 2em;
}

.content h1 {
    color: #fed1ae;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.9rem;
}
.content p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.searchBtn {
    margin-left: 0.8em;
    background: #ade7fe;
    color: white;
}
.image {
    width: 70%;
}
.image img {
    width: 100%;
}
.emp {
    color: #ade7fe;
    font-weight: bold;
}
.logo {
    width: 50px;
    height: 25px;
}
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* contact Page */
.header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36a0ff;
}
