{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<div class="container" id="play">
    <h1 class="text-center">-Our Mission-</h1>
    <p class="text-center">To be the Platform to connect the world to good music.</p>
    <div class="jumbotron">
        <div class="card-body">
            <h1 class="display-4 text-center">About Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione laboriosam doloribus et, labore voluptate ab laborum exercitationem quidem explicabo praesentium accusantium non
                reprehenderit enim optio recusandae iusto magnam eum! Neque.
            </p>
        </div>
    </div>
</div>

{% endblock %}
